*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: arial;
    background: url("https://s2.glbimg.com/cqkhxP5kut0x8mAIIuxbr8z-rXg=/0x0:695x390/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/A/o/q4idFhSdWiFgX2W1XpSA/playstation-4-2-ps2-sony-100-milhoes.jpg");
    background-size: 100%;
}

ul{
    list-style: none;
}

img{
    width: 40px;
}

input[type="checkbox"]
{
    display: none;
}

nav
{
    background-color: rgba(16,16,16,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

ul{
    top:50px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: white;
}

a:hover{
    background-color: rgb(176,224,230);
    color:black;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

p{
    background-color: white;

}

h3{
    background-color: white;

}